html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url(moun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.head{
    padding-top: 15%;
    color: white;
}

h2{
    color: white;
}

.form-group{
    padding: 5%;
}

.form-control{
    border-radius: 15px;
}

.checkbox-wrap{
    font-weight: bold;
}

